<form>
  <div class="form-group">
    <label for="dogName">Name</label>
    <input id="dogName" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="kennelName">Kennel name</label>
    <input type="text" id="kennelName" class="form-control">
  </div>

  <div class="form-group">
    <label for="breed">Breed</label>
    <input type="text" id="breed" class="form-control">
  </div>

  <div class="form-group">
    <label for="sex">Sex</label>
    <input type="text" id="sex" class="form-control">
  </div>

  <div class="form-group">
    <label for="color">Color</label>
    <input type="text" id="color" class="form-control">
  </div>

  <div class="form-group">
    <label for="birthDate">Birthdate</label>
    <input type="text" id="birthDate" class="form-control">
  </div>

  <div class="form-group">
    <label for="healthInfo">Health info</label>
    <textarea type="text" id="healthInfo" cols="30" rows="5" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="showTitles">Dogshow titles</label>
    <textarea type="text" id="showTitles" cols="30" rows="5" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="dogPhoto">Add photo</label>
    <input type="file" id="dogPhoto" class="form-control">
  </div>  

  <button class="btn btn-primary">Submit</button>

</form>